In [105]:
import pandas as pd

# I used the Titanic passenger information dataset
titanic = pd.read_csv("Titanic.csv")

doubled = pd.DataFrame(titanic * 2)
print(doubled)

doubled.to_csv('titanic_doubled.csv', index = False)

     PassengerId  Pclass                                               Name  \
0           1784       6                   Kelly, Mr. JamesKelly, Mr. James
1           1786       6  Wilkes, Mrs. James (Ellen Needs)Wilkes, Mrs. J...
2           1788       4  Myles, Mr. Thomas FrancisMyles, Mr. Thomas Fra...
3           1790       6                   Wirz, Mr. AlbertWirz, Mr. Albert
4           1792       6  Hirvonen, Mrs. Alexander (Helga E Lindqvist)Hi...
..           ...     ...                                                ...
413         2610       6               Spector, Mr. WoolfSpector, Mr. Woolf
414         2612       2  Oliva y Ocana, Dona. FerminaOliva y Ocana, Don...
415         2614       6  Saether, Mr. Simon SivertsenSaether, Mr. Simon...
416         2616       6             Ware, Mr. FrederickWare, Mr. Frederick
417         2618       6   Peter, Master. Michael JPeter, Master. Michael J

              Sex    Age  SibSp  Parch                                Ticket  \
0        malemale   69.0      0      0                          330911330911
1    femalefemale   94.0      2      0                          363272363272
2        malemale  124.0      0      0                          240276240276
3        malemale   54.0      0      0                          315154315154
4    femalefemale   44.0      2      2                        31012983101298
..            ...    ...    ...    ...                                   ...
413      malemale    NaN      0      0                    A.5. 3236A.5. 3236
414  femalefemale   78.0      0      0                      PC 17758PC 17758
415      malemale   77.0      0      0  SOTON/O.Q. 3101262SOTON/O.Q. 3101262
416      malemale    NaN      0      0                          359309359309
417      malemale    NaN      2      2                              26682668

         Fare     Cabin Embarked
0     15.6584       NaN       QQ
1     14.0000       NaN       SS
2     19.3750       NaN       QQ
3     17.3250       NaN       SS
4     24.5750       NaN       SS
..        ...       ...      ...
413   16.1000       NaN       SS
414  217.8000  C105C105       CC
415   14.5000       NaN       SS
416   16.1000       NaN       SS
417   44.7166       NaN       CC

[418 rows x 11 columns]

In [107]:
manual_dataset = pd.read_csv("test.csv")

doubled = pd.DataFrame(manual_dataset * 2)
print(doubled)

doubled.to_csv('manual_dataset_doubled.csv', index = False)

    ColA   ColB   ColC   ColD
0      2      4      6      8
1     10     12     14     16
2     18     20     22     24
3     26     28     30     32
4     34     36     38     40
5     42     44     46     48
6     50     52     54     56
7     58     60     62     64
8     66     68     70     72
9     74     76     78     80
10    82     84     86     88
11    90     92     94     96
12    98    100    102    104
13   106    108    110    112
14   114    116    118    120