In [179]:
import pandas as pd

df = pd.read_csv("AB_NYC_2019.csv")

In [180]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [181]:
num_of_rows = 0
for i in range(len(df)):
  row = df.iloc[i]
  if (row.isnull().any()):
    num_of_rows += 1
print(num_of_rows)

10074

In [182]:
missing_data = df.isnull().sum()
num_of_cols = 0
for column, has_missing in (missing_data != 0).items():
  if has_missing:
    num_of_cols += 1
print(num_of_cols)

4

In [183]:
for i in range(len(df)):
  if (df.iloc[i].isnull().any()):
    index = df.iloc[i].name
    df.drop(index)

In [184]:
df = df.sort_values(by = "last_review", ascending = False)

In [185]:
bool_idx = (df["number_of_reviews"] != 0)
df = df[bool_idx]

In [186]:
df = df.drop('id', axis = 1)
df = df.drop('name', axis = 1)

In [192]:
df['latitude'] = df['latitude'] - 40

In [193]:
df['latitude'] = df['latitude'] + 74

In [198]:
import numpy as np

df["log_price"] = np.log(df["price"])

/usr/local/lib/python3.12/dist-packages/pandas/core/arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [205]:
private_room = (df['room_type'] == "Private room")
entire_room = (df['room_type'] == "Entire home/apt")

if (df[private_room].any):
  df["room_type"] = 0
elif (df[entire_room].any):
  df["room_type"] = 1
else:
  df["room_type"] = 2

In [214]:
new_index = np.arange(0, len(df))

df = df.reindex(new_index)

In [215]:
df.to_csv("new_airbnb_data.csv")