In [72]:
import pandas as pd

df = pd.read_csv("AB_NYC_2019.csv")
df_copy = df.copy()

In [40]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [73]:
# Get all missing data 
missing_mark = df.isnull()
# Dataframe with missing data.
missing_df = df[missing_mark.any(axis=1)]

In [74]:
# Display the missing data
print(len(df))
print(f"Total rows with missing data: {len(missing_df)}")
print(f"\nMissing data summary:")

# Compute the total number of missing values for each column
print(missing_df.isnull().sum())

48895
Total rows with missing data: 10074

Missing data summary:
id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [ ]:
# Your loop solution is correct. 
# But prefer to use the above solution for better performance. 

num_of_rows = 0
for i in range(len(df)):
  row = df.iloc[i]
  if (row.isnull().any()):
    num_of_rows += 1
print(num_of_rows)

6327

# Summary: df.isnull() - Detecting Missing Data in Pandas

## What is df.isnull()?
`df.isnull()` is a pandas method that returns a boolean DataFrame indicating where values are missing (NaN, None, NaT, pd.NA).

## Common Use Cases:

### 1. **Basic Detection**
```python
df.isnull()  # Returns boolean DataFrame (True = missing, False = present)
```

### 2. **Count Missing Values Per Column**
```python
df.isnull().sum()  # Returns count of missing values in each column
```

### 3. **Total Missing Values**
```python
df.isnull().sum().sum()  # Total count of all missing values
```

### 4. **Check if Column Has Any Missing Values**
```python
df.isnull().any()  # Returns True for columns with at least one missing value
df['column_name'].isnull().any()  # Check specific column
```

### 5. **Check if All Values Are Missing**
```python
df.isnull().all()  # Returns True for columns where all values are missing
```

### 6. **Filter Rows with Missing Data**
```python
df[df.isnull().any(axis=1)]  # Get rows with at least one missing value
df[df['column'].isnull()]  # Get rows where specific column is missing
```

### 7. **Filter Rows WITHOUT Missing Data**
```python
df[~df.isnull().any(axis=1)]  # Get complete rows only
df.dropna()  # Alternative: remove rows with any missing values
```

### 8. **Percentage of Missing Data**
```python
(df.isnull().sum() / len(df)) * 100  # Percentage missing per column
```

### 9. **Visualize Missing Data Pattern**
```python
df.isnull().sum().plot(kind='bar')  # Bar chart of missing values
```

### 10. **Replace Missing Values**
```python
df[df.isnull()] = 0  # Replace NaN with 0
df.fillna(value)  # Better alternative
```

## Note:
- `df.isnull()` and `df.isna()` are equivalent (aliases)
- Use `df.notnull()` or `~df.isnull()` to find non-missing values

In [75]:

# Task: compute the total number of columns with missing data

# Compute the total number of columns with missing data
# df.isnull().sum(): compute the total number of missing values for each column .e.g [1,3,0,5] if the dataframe has 4 columns. 
# In order to compute the total number of columns with missing data, we can check which columns have missing values (i.e., not equal to 0), and then count them.
#
col_missing_data_series = df.isnull().sum()
# Solution using boolean indexing
print((col_missing_data_series > 0 ).sum())  # Counts how many columns have at least 1 missing value

# Solution using len()
print(len(col_missing_data_series[col_missing_data_series > 0]))

# Below is Ryan's solution using a loop. The answer is correct. Your solution is too complicated.
# Try to use the above solutions for better performance.
missing_data = df.isnull().sum()
num_of_cols = 0
for column, has_missing in (missing_data != 0).items():
  if has_missing:
    num_of_cols += 1
print(num_of_cols)

4
4
4

In [76]:
# Task: Remove rows with missing data.
# Need to know how to use df.dropna()
# df.dropna(inplace=True) # Modifies df directly, remove rows with any None,NaN or Nat.
# df_clean = df.dropna() # returns a new DataFrame without rows containing any NaN
# Other key parameters: axis=0 or 1. Defualt value is 0
# df.dropna(axis=0)  # Drop rows with any NaN
# df.dropna(axis=1)  # Drop columns with any NaN
# how: 'any' or 'all'. Default value is 'any'. 
  # df.dropna(how='any')   # Drop row if it has at least one NaN
  # df.dropna(how='all')   # Drop row if all values are NaN

# Remove rows with missing values in specific columns
#df_clean = df.dropna(subset=['age', 'salary'])

# Xiaopei's solution to drop rows with missing data.
df.dropna(inplace=True, axis=0, how='any')

#Below is Ryan's loop solution to drop rows with missing data.
# Again never use this loop method
for i in range(len(df)):
  if (df.iloc[i].isnull().any()):
    index = df.iloc[i].name
    df.drop(index)

In [77]:
len(df)

38821

In [78]:
# Task: Sort the DataFrame by the "last_review" column in descending order.
df = df.sort_values(by = "last_review", ascending = False)
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
48852,36455809,"Cozy Private Room in Bushwick, Brooklyn",74162901,Christine,Brooklyn,Bushwick,40.69805,-73.92801,Private room,30,1,1,2019-07-08,1.00,1,1
41498,32252190,Fall room 秋,240055586,George,Queens,Fresh Meadows,40.73784,-73.79101,Private room,50,1,20,2019-07-08,4.20,5,38
18130,14194024,One bedroom cutie in South Willamsburg,4908941,Alis,Brooklyn,Williamsburg,40.70698,-73.96193,Entire home/apt,180,4,43,2019-07-08,1.22,1,82
46476,35266709,A room in 3-bedroom apartment,264296595,Hyunsung,Queens,Flushing,40.75926,-73.82641,Shared room,75,1,1,2019-07-08,1.00,3,349
33863,26815416,Pinacoladaburgh,201654234,Jessica,Queens,Rockaway Beach,40.58739,-73.81746,Entire home/apt,75,2,35,2019-07-08,2.97,1,125

In [79]:
bool_idx = (df["number_of_reviews"] != 0)
df = df[bool_idx]
print(len(df))
df.columns

38821

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [80]:
#Task: Drop the "id" and "name" columns from the DataFrame.
# Need to know how to use df.drop()
# Key parameters for df.drop()
# 1. axis: 0 for rows, 1 for columns. Default is 0
# 2. columns: specify column names to drop
# 3. inplace: default is false. True to modify the original DataFrame, False to return a new DataFrame

# Drop two cols and return a new dataframw without "id" and "Name"
df = df.drop(columns=['id', 'name'], inplace=False,axis=1)

# Ryan'solution is okay. But you can drop multiple columns in one line.
# df = df.drop('id', axis = 1)
# df = df.drop('name', axis = 1)

In [48]:
df[['latitude']].head()

       latitude
48852  40.69805
41498  40.73784
18130  40.70698
46476  40.75926
33863  40.58739

In [50]:
df[['latitude']].head()

       latitude
48852   0.69805
41498   0.73784
18130   0.70698
46476   0.75926
33863   0.58739

In [81]:
df['latitude'] = df['latitude'] - 40

In [82]:
df['latitude'] = df['latitude'] + 74

In [83]:
# Create a new column "log_price" and create the log of the "price" column.
import numpy as np


df['log_price'] = np.log(df['price'])

# Rearrange the columns to place "log_price" after "price"
cols = list(df.columns)
print("Cols order before rearranging:")
print(cols)
price_index = cols.index('price')

log_price_index_old = cols.index('log_price')
log_price_index_new = price_index + 1

cols[log_price_index_new], cols[log_price_index_old] = cols[log_price_index_old], cols[log_price_index_new]

print("Cols order after rearranging:")  
print(cols)
df =df[cols]
df.head()

Cols order before rearranging:
['host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365', 'log_price']
Cols order after rearranging:
['host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 'log_price', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365', 'minimum_nights']

/Users/xwu106/projects/om_assistant/local_dev/.venv/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,log_price,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,minimum_nights
48852,74162901,Christine,Brooklyn,Bushwick,74.69805,-73.92801,Private room,30,3.401197,1,2019-07-08,1.00,1,1,1
41498,240055586,George,Queens,Fresh Meadows,74.73784,-73.79101,Private room,50,3.912023,20,2019-07-08,4.20,5,38,1
18130,4908941,Alis,Brooklyn,Williamsburg,74.70698,-73.96193,Entire home/apt,180,5.192957,43,2019-07-08,1.22,1,82,4
46476,264296595,Hyunsung,Queens,Flushing,74.75926,-73.82641,Shared room,75,4.317488,1,2019-07-08,1.00,3,349,1
33863,201654234,Jessica,Queens,Rockaway Beach,74.58739,-73.81746,Entire home/apt,75,4.317488,35,2019-07-08,2.97,1,125,2

In [61]:
import numpy as np

# Ryan's Solution is correct.
# Miss another subtask to make this new col to the right of the "price" col.

df["log_price"] = np.log(df["price"])

# You miss the cols ordering task

/Users/xwu106/projects/om_assistant/local_dev/.venv/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [ ]:
# Task: Convert room_type to non-negative integer categorical data type.
# Need to know what is categorical data type in pandas or Machine Learning Context
# If I were you,I would do the folliwng steps.
df.room_type.value_counts()
# use value_counts() to see all unique values and their counts
# Convert to categorical data type
room_type_map = {
    'Private room': 0,
    'Entire home/apt': 1,
    'Shared room': 2
}
df['room_type'] = df['room_type'].map(room_type_map)
print(df.room_type.dtype)  # should be int64 now, but it is not categorical data type. 
#For 3 types of data, 2 bit is enough.

int64

In [ ]:

# # Need to turn it to categorical data type
# Why convert integers to categorical?
# Memory efficiency: Categorical uses less memory, especially for large datasets
# Faster operations: Grouping and sorting are more efficient
# Semantic meaning: Indicates the data is categorical, not continuous numeric
# ML compatibility: Some ML libraries handle categorical data specially
df['room_type'] = df['room_type'].astype('category')
print(df.room_type.dtype)  # should be category now
# (df['room_type'].value_counts())

category

In [88]:
df.room_type.value_counts()

room_type
1    20321
0    17654
2      846
Name: count, dtype: int64

In [ ]:
# Ryan's solution is good.
# You set 3 different integer values for 3 room types first.
# DOn't forgot to turn the datatype to categorical after setting integer values.
# Otherwise, the datatype is int64.
private_room = (df['room_type'] == "Private room")
entire_room = (df['room_type'] == "Entire home/apt")


#if (df[private_room]): DOn't need any. 
if (df[private_room].any): # : # 
  df["room_type"] = 0
elif (df[entire_room].any):
  df["room_type"] = 1
else:
  df["room_type"] = 2

In [89]:
# Ryan's answer is correct. 
new_index = np.arange(0, len(df)) 
df = df.reindex(new_index)

# Alternative solution using reset_index
# df = df.reset_index(drop=True) 
# drop=True: Don't keep old index as a column
# drop=False: Keep old index as a new column

In [90]:
df.to_csv("new_airbnb_data.csv")

# Essential Pandas DataFrame Operations - Master Guide

For working with pandas DataFrames, you must master these fundamental operations:

---

## 1. Remove Rows with Outliers (Null or Extreme Values)

### Remove Null Values:
```python
# Remove rows with any null values
df = df.dropna()

# Remove rows with nulls in specific columns
df = df.dropna(subset=['price', 'reviews'])

# Remove rows where all values are null
df = df.dropna(how='all')
```

### Remove Extreme/Outlier Values:
```python
# Method 1: Using IQR (Interquartile Range)
Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
df = df[(df['price'] >= lower_bound) & (df['price'] <= upper_bound)]

# Method 2: Using standard deviation (Z-score)
mean = df['price'].mean()
std = df['price'].std()
df = df[(df['price'] >= mean - 3*std) & (df['price'] <= mean + 3*std)]

# Method 3: Direct threshold
df = df[df['price'] < 10000]  # Remove super large values
df = df[df['price'] > 0]      # Remove negative values
```

---

## 2. Remove Duplicated Rows

```python
# Remove all duplicate rows
df = df.drop_duplicates()

# Remove duplicates based on specific columns
df = df.drop_duplicates(subset=['user_id', 'date'])

# Keep first or last occurrence
df = df.drop_duplicates(keep='first')   # Default: keep first
df = df.drop_duplicates(keep='last')    # Keep last
df = df.drop_duplicates(keep=False)     # Remove all duplicates

# Check duplicates before removing
print(f"Number of duplicates: {df.duplicated().sum()}")
```

---

## 3. Add a New Column

```python
# Add column with constant value
df['country'] = 'USA'

# Add column with calculation from existing columns
df['total'] = df['price'] * df['quantity']

# Add column with conditional logic
df['category'] = df['price'].apply(lambda x: 'Expensive' if x > 100 else 'Affordable')

# Add column with numpy function
import numpy as np
df['log_price'] = np.log(df['price'])

# Insert column at specific position
df.insert(2, 'new_col', values)  # Insert at position 2

# Add multiple columns at once
df = df.assign(
    col1=values1,
    col2=values2,
    col3=df['existing_col'] * 2
)
```

---

## 4. Perform Operations on Columns

```python
# Mathematical operations
df['price'] = df['price'] * 1.1        # Increase by 10%
df['discount_price'] = df['price'] * 0.9

# String operations
df['name'] = df['name'].str.upper()    # Convert to uppercase
df['name'] = df['name'].str.strip()    # Remove whitespace
df['name'] = df['name'].str.replace('old', 'new')

# Apply custom function
def categorize(value):
    if value > 100:
        return 'High'
    elif value > 50:
        return 'Medium'
    else:
        return 'Low'

df['price_category'] = df['price'].apply(categorize)

# Apply function to multiple columns
df[['col1', 'col2']] = df[['col1', 'col2']].applymap(lambda x: x * 2)

# Map values (categorical encoding)
df['room_type'] = df['room_type'].map({
    'Private room': 0,
    'Entire home/apt': 1,
    'Shared room': 2
})

# Replace values
df['status'] = df['status'].replace({'old_value': 'new_value'})
```

---

## 5. Reindex and Store Data

### Reindex DataFrame:
```python
# Reset index to sequential 0, 1, 2, ...
df = df.reset_index(drop=True)

# Set custom index
new_index = np.arange(0, len(df))
df = df.reindex(new_index)

# Use a column as index
df = df.set_index('id')

# Reset index and keep old index as column
df = df.reset_index(drop=False)
```

### Store Data:
```python
# Save to CSV
df.to_csv('output.csv', index=False)

# Save to Excel
df.to_excel('output.xlsx', index=False, sheet_name='Data')

# Save to JSON
df.to_json('output.json', orient='records')

# Save to pickle (preserves data types)
df.to_pickle('output.pkl')

# Save with specific encoding
df.to_csv('output.csv', encoding='utf-8', index=False)
```

---

## 6. Reshuffle (Randomize) DataFrame

```python
# Shuffle all rows randomly
df = df.sample(frac=1).reset_index(drop=True)

# Shuffle with reproducible results (set random seed)
df = df.sample(frac=1, random_state=42).reset_index(drop=True)

# Shuffle and keep original index
df = df.sample(frac=1, random_state=42)
```

---

## 7. Randomly Pick 20% of Rows

```python
# Sample 20% of rows
df_sample = df.sample(frac=0.2)

# Sample with reproducible results
df_sample = df.sample(frac=0.2, random_state=42)

# Sample specific number of rows
df_sample = df.sample(n=1000)

# Split into train/test sets
train_df = df.sample(frac=0.8, random_state=42)
test_df = df.drop(train_df.index)

# Stratified sampling (maintain distribution)
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size=0.2, stratify=df['category'])
```

---

## 8. View Data Distribution for Numerical Columns

### Basic Statistics:
```python
# Summary statistics for all numerical columns
df.describe()

# Statistics for specific column
df['price'].describe()

# Individual statistics
print(f"Mean: {df['price'].mean()}")
print(f"Median: {df['price'].median()}")
print(f"Mode: {df['price'].mode()[0]}")
print(f"Std Dev: {df['price'].std()}")
print(f"Min: {df['price'].min()}")
print(f"Max: {df['price'].max()}")

# Quantiles (percentiles)
df['price'].quantile([0.25, 0.5, 0.75, 0.95, 0.99])
```

### Distribution Analysis:
```python
# Value counts and frequency
df['price'].value_counts()
df['price'].value_counts(bins=10)  # Group into bins

# Check distribution shape
print(f"Skewness: {df['price'].skew()}")
print(f"Kurtosis: {df['price'].kurtosis()}")

# Correlation between columns
df.corr()
df['price'].corr(df['rating'])
```

### Visualization:
```python
import matplotlib.pyplot as plt

# Histogram
df['price'].hist(bins=50)
plt.title('Price Distribution')
plt.xlabel('Price')
plt.ylabel('Frequency')
plt.show()

# Box plot (shows outliers)
df['price'].plot(kind='box')
plt.show()

# Multiple columns
df[['price', 'rating']].hist(bins=30, figsize=(10, 5))
plt.show()

# Density plot
df['price'].plot(kind='density')
plt.show()
```

---

## Quick Reference Cheat Sheet:

| Operation | Code |
|-----------|------|
| Remove nulls | `df.dropna()` |
| Remove outliers | `df[(df['col'] > lower) & (df['col'] < upper)]` |
| Remove duplicates | `df.drop_duplicates()` |
| Add column | `df['new_col'] = values` |
| Modify column | `df['col'] = df['col'].apply(function)` |
| Reset index | `df.reset_index(drop=True)` |
| Save to CSV | `df.to_csv('file.csv', index=False)` |
| Shuffle | `df.sample(frac=1).reset_index(drop=True)` |
| Sample 20% | `df.sample(frac=0.2)` |
| Statistics | `df.describe()` |
| Distribution | `df['col'].hist()` |

---

**Pro Tips:**
- Always check shape before/after operations: `df.shape`
- Verify data types: `df.dtypes` or `df.info()`
- Check for nulls: `df.isnull().sum()`
- Use `inplace=True` carefully (modifies original DataFrame)
- Make a copy before major transformations: `df_backup = df.copy()`